<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giorgos.forumapp">
    <permission
        android:name="course.examples.UI.MapView.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="course.examples.UI.MapView.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAweyDBma7ZaEFvHllFlgQ4IK9daJSQ5S8" />

        <activity
            android:name="com.example.giorgos.forumapp.login"

            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"

            android:launchMode="singleInstance"
            >

        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <activity
            android:name="com.example.giorgos.forumapp.MapActivity"
            android:parentActivityName="com.example.giorgos.forumapp.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapActivity" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>
        <activity
            android:name="com.example.giorgos.forumapp.register"
            android:parentActivityName="com.example.giorgos.forumapp.login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".register" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>
        <activity
            android:name="com.example.giorgos.forumapp.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.example.giorgos.forumapp.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>
        <activity
            android:name="com.example.giorgos.forumapp.ChatActivity"
            android:parentActivityName="com.example.giorgos.forumapp.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chat" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="info.androidhive.gcm" />
            </intent-filter>
        </receiver>



        <service
            android:name="com.example.giorgos.forumapp.MyGcmPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.giorgos.forumapp.GcmIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>
